<section id="about" class="about">
    <div class ="row">
            <div class="col-md-4">
                <center>
                        <img src="../img/steven profile.jpg" class="img-circle" alt="steven profile" style="margin:50px;width:384px;height:436px;">
                </center>
                    </div>
            <div class="col-md-8">
                    <div class="container">
                    <p class="lead">"This girl has the spark of life. This is my primary filter for new friends (girl- and otherwise) and the highest compliment I can pay. I've tried many times to figure out exactly what ignites it -- what cocktail of characteristics come together in the cold, dark cosmos to form a star." <i>- Mr. Penumbra's 24-Hour Bookstore</i></p>
                    <p><font size="6">My goal is to have this <b>'spark of life'</b> and to meet other people who have it, too.</font></p>
                    <ul>
                          <li><font size="6">Check out a blog from <a href="stevensawtelle.tumblr.com" target="_blank">my ambassadorial trip to China!</a></font></li>
                          <li><font size="6">Follow a <a href="https://twitter.com/LearnWordsYo">cool Twitter bot</a> I made to expand your vocabulary!</font></li>
                     </ul>  
                    </div>
            </div>
    </div>
    <center><font size="6">I also have a few hobbies I'm quite fond of. Hover for more info!</font></center>
    <br>
    <center>
    <div class="row">
        <div class="container">
                <img onmouseover="changeWord(1)" src="../img/beach_volleyball_pic2.jpg" class="img-rounded" style="margin:10px;width:200px;">
                <img onmouseover="changeWord(2)" src="../img/thefam2016.jpg" class="img-rounded"  style="margin:10px;width:200px;">
                <img onmouseover="changeWord(3)" src="../img/hackathon.jpg" class="img-rounded"  style="margin:10px;width:200px;">
                <img onmouseover="changeWord(4)" src="../img/escape_room.jpg" class="img-rounded"  style="margin:10px;width:200px;">
                <img onmouseover="changeWord(5)" src="../img/waterfall.jpg" class="img-rounded"  style="margin:10px;width:200px;">
        </div>
    </div>
    </center>
    
    <center>
    <h2 id="myHeader"></h2>
    <h3 id="description"></h3>
    </center>
    
    <script>
        function changeWord(x){
            var greeting;
            var desc;
            if (x==1) {
                greeting="Sports!"
                desc="Volleyball, Spikeball, Basketball, and more. Intramural competitor and hopeful one-day champion at ASU."
            }
            if (x==2) {
                greeting="Family!"
                desc="Youngest of 5 siblings, uncle to 4 and counting. Family is a huge part of my life."
            }
            if (x==3) {
                greeting="Hackathons!"
                desc="Huge hackathon competitor. Second runner up at best, spirited particpant at worst."
            }
            if (x==4) {
                greeting="Friends!"
                desc="Not to brag, but we're 3/3 on Escape the Room challenges as a friend group."
            }
            if (x==5) {
                greeting="Travel!"
                desc="America to China and anywhere in between." 
            }
            document.getElementById("myHeader").innerHTML = greeting;
            document.getElementById("description").innerHTML = desc;
        }
    </script>
</section>
