<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/steven profile.jpg" class="img-circle" alt="steven profile" width="384" height="436">
      </div>
      <div class="col-sm-8">
        <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
        <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
      </div>
    </div>
  </div>
</section>
