<!--
<div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-2  col-md-offset-2 text-center">
                        <br>
                    <img src="../img/steven profile.jpg" class="img-circle" alt="steven profile" width="225" height="318">
            </div>
            <div class="col-md-6 text-center">
                <h2>My goal is ultiamtely to have the 'spark of life' and to meet other people who have it, too.</h2>
                <p class="lead">"This girl has the spark of life. This is my primary filter for new friends (girl- and otherwise) and the highest compliment I can pay. I've tried many times to figure out exactly what ignites it -- what cocktail of characteristics come together in the cold, dark cosmos to form a star."</p>
                    <p>- Mr. Penumbra's 24-Hour Bookstore</p>
                    </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>Technical Summary</h3>
                <hr>
                <dl class="dl-horizontal lead">
                    <dt>Web Development</dt>
                    <dd>HTML 5, CSS 3, Sass, Bootstrap, JavaScript, CoffeeScript, jQuery, Angular JS, Backbone, underscore, PHP, node.js</dd>
                    <dt>Other Languages</dt>
                    <dd>Objective-C, Python, Java, C++, C#, Bash script</dd>
                    <dt>Databases</dt>
                    <dd>MySQL, MongoDB, Parse</dd>
                    <dt>Design</dt>
                    <dd>Photoshop, Sketch, Illustrator, Blender</dd>
                </dl>
                <a href="#contact" onClick="ga('send', '_trackEvent', 'Links', 'See more');">See more <i class="fa fa-level-down"></i></a>
            </div>
        </div>
    </div>
-->
<section id="about" class="about">
    <div class ="row">
            <div class="col-md-4">
                    <div class="container">
                        <img src="../img/steven profile.jpg" class="img-circle" alt="steven profile" width="384" height="436">
                    </div>
            </div>
            <div class="col-md-8">
                    <h3>My goal is to have the <b>'spark of life'</b> and to meet other people who have it, too.</h3>
                    <p class="lead">"This girl has the spark of life. This is my primary filter for new friends (girl- and otherwise) and the highest compliment I can pay. I've tried many times to figure out exactly what ignites it -- what cocktail of characteristics come together in the cold, dark cosmos to form a star."</p>
                    <p>- Mr. Penumbra's 24-Hour Bookstore</p>
            </div>
    </div>
</section>
