<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Hey there, I'm<br>Steven Sawtelle</h1>
    <h3>I like to do cool stuff. Learn about my: </h3>
    <br>
    <a href="#about" class="btn btn-light btn-lg">Personal Interests</a>
    <a href="#services" class="btn btn-dark btn-lg">Techinal Capabilities</a>
    <br>
    <h4>Or you can get straight to it and connect with me:</h4>
    <br>
    <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/steven.sawtelle.3" target="_blank" title="Facebook" alt="Facebook"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter" alt="Twitter"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub" alt="GitHub"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
            <li>
              <a href="https://www.linkedin.com/in/steven-sawtelle" target="_blank" title="LinkedIn" alt="LinkedIn"><i class="fa fa-linkedin fa-fw fa-3x"></i></a> 
          </li>
          <li>
            <a href="mailto:steven.sawtelle@gmail.com" title="Email me" alt="Email me" target="_blank"><i class="fa fa-envelope-o fa-fw fa-3x"></i></a>
          </li>
    </ul>
    <br>
    <h2><a href="Steven Sawtelle Resume 2016.pdf" target="_blank"><u>And check out my resume!</u></a></h2>
  </div>
</header>
